.app {
  overflow: hidden;
  background-color: #17171d;
  display: flex;
  min-height: auto;
  height: 100vh;
  max-height: 100vh;
}

.ai_interation_section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
  min-height: auto;
  height: 100%;
  max-height: 100%;
  min-width: auto;
  width: 100%;
  max-width: 100%;
}
