.form {
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-template-rows: 1fr;
  position: absolute;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%);
  min-width: auto;
  width: 600px;
  max-width: 90%;
  border: 1px solid #484869;
  background-color: transparent;
  border-radius: 15px;
}

@media (max-width: 768px) {
  .form {
    grid-template-columns: 5fr 1fr;
  }
}

.text_area {
  outline: none;
  border: none;
  resize: none;
  min-width: auto;
  width: 100%;
  max-width: 100%;
  min-height: auto;
  height: 25px;
  max-height: 50px;
  padding: 15px;
  border-radius: 10px;
  font-size: 1.3rem;
  background-color: transparent;
  color: #fff;
}

.text_area::placeholder {
  color: #fff;
}

/* Customize the vertical scrollbar */
.text_area::-webkit-scrollbar {
  width: 0px; /* Scrollbar width */
}

.send_button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
  margin-left: 20px;
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  background-color: #484869;
  border-radius: 0px 15px 15px 0px;
}

@media (max-width: 768px) {
  .send_button {
    width: 80%;
  }
}

.send_button > img {
  width: 60%;
}

@media (max-width: 768px) {
  .send_button > img {
    width: 80%;
  }
}

.send_button_disable {
  cursor: default;
}

.send_button_enable {
  cursor: pointer;
}

.send_button_disable_img {
  filter: grayscale(100%);
}

.send_button_enable_img {
  filter: none;
}
